version: '3'
services:
  nginx_proxy:
    build:
      context: .
      dockerfile: staging.dockerfile
    env_file:
      - .staging.env
    network_mode: host
    volumes:
      - ./nginx/staging/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/staging/certs:/etc/nginx/certs
      - ./nginx/staging/certbot-certs:/etc/letsencrypt
      - ./nginx/staging/logs:/etc/nginx/logs
      - ./nginx/staging/sites-available:/etc/nginx/sites-available
      - ./nginx/staging/http.d:/etc/nginx/http.d
      - ./nginx/staging/bot_ips.map:/etc/nginx/bot_ips.map
      - ./nginx/staging/bot_ips_overflow.map:/etc/nginx/bot_ips_overflow.map
      - ./nginx/staging/snippets:/etc/nginx/snippets
    restart: always
    logging:
      driver: 'json-file'
      options:
        max-file: '5'
        max-size: '10m'


