version: '3'
services:
  nginx_proxy:
    build:
      context: .
      dockerfile: production.dockerfile
    env_file:
      - .production.env
    network_mode: host
    volumes:
      - ./nginx/production/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/production/certbot-certs:/etc/letsencrypt
      - ./nginx/production/logs:/etc/nginx/logs
      - ./nginx/production/sites-available:/etc/nginx/sites-available
      - ./nginx/production/http.d:/etc/nginx/http.d
    extra_hosts:
     - 'host.docker.internal:host-gateway'
    restart: always
    logging:
      driver: 'json-file'
      options:
        max-file: '5'
        max-size: '10m'


